body{
    margin: 0;
    background-color: #333333;
}
.container {
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.manga-recommendations {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width:auto;
    border-radius: 5px;
}

.manga-cover {
    text-align: center;
    transition: 0.5s;
    background-color: aqua;
    margin: 60px;
    width: auto;
}
.manga-cover:hover{
    transform: scale(1.1);
}

.manga-cover img {
    width: 300px;
    height: 440px;
    border-radius: 5%;
}

.manga-title {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (min-width: 601px) and (max-width: 1024px){

    .manga-cover{
        background-color: burlywood;
        margin: 15px;
    }
    .manga-cover img{
        width: 200px;
        height: 293px;
    }
}

@media only screen and (max-width: 600px){
    .manga-cover img{
        width: 150px;
        height: 220px;
    }
    .manga-cover{
        margin: 5px;
    }
    .manga-title{
        font-size: 15px;
    }
}
