body{
  margin: 0px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
}
.logo_img {
  width: 70px;
  margin-left: 15px;  
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 100px;
}

li a {
  font-family: 'Roboto';
  font-size: 20px;
}


@font-face{
  font-family: 'Playfair_Display';
  src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  }
@font-face{
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
  }
@font-face{
  font-family: 'Merriweather';
  src: url('fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
  }
@font-face{
  font-family: 'Espressonal';
  src: url('fonts/espressonal/Espressonal.otf') format('opentype');
}