body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

.manga-page {
    display: grid;
    grid-template-areas: 
        "manga-header manga-header"
        "manga-cover manga-categories"
        "manga-cover manga-chapters"
        "manga-cover manga-summary";
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    max-width: 1200px;
    background-color: rgb(131, 64, 64);
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.manga-header {
    grid-area: manga-header;
    text-align: center;
    border-radius: 5px;
}

.manga-cover {
    grid-area: manga-cover;
    text-align: center;
}
h2{
    text-align: center;
}
.manga-cover img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.manga-categories, .manga-chapters, .manga-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.manga-categories {
    grid-area: manga-categories;
}

.manga-chapters {
    grid-area: manga-chapters;
}

.manga-summary {
    grid-area: manga-summary;
}

/* Estilos para os capítulos */
.chapters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os capítulos */
    gap: 10px;
}

.chapters-list a {
    display: block;
    width: calc(50% - 10px);
    text-align: center;
    padding: 15px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.chapters-list a:hover {
    background-color: #ececec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .manga-page {
        grid-template-areas: 
            "manga-header"
            "manga-cover"
            "manga-categories"
            "manga-chapters"
            "manga-summary";
        grid-template-columns: 1fr;
    }

    .manga-cover img {
        margin: 0 auto;
    }

    .chapters-list a {
        width: 100%;
    }
}

/* Media Query for Tablets */

